:root {
    --header: rgb(0, 128, 49);
    --text: white;
    --bgcolor: rgb(72, 195, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgcolor);
}

header{
    background-color: var(--header);
    border: 2px solid black;
}

.navigation li {
    list-style-type: none;
    margin: 0px 10px;
}

.navigation{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}