* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center; */
    /* wow this is cool, number of dont have to define no of rows and columns */
}

.items {
    border: 2px solid green;
    height: 60px;
}

.item3 {
    grid-row: 2/3;
    grid-column: 1/3;
}

.item4 {
    grid-row: 3;
    grid-column: 2;
}

.item5 {
    /* grid-column: 1; */
}

