* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 8px;
    gap: 10px;
}

.left {
    width: 25vw;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    justify-content: space-between;
}

.logo > img {
    width: 80px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: flex;
    align-items: center;
    padding-top: 17px;
    gap: 20px;
    font-weight: bold;
}

.nav ul img {
    width: 25px;
}

.home {
    height: 25%;
}

.library {
    height: 75%;
    position: relative;
}

.lib-header {
    justify-content: space-between;
}

.lib-header img {
    width: 25px;
}

.lib-header :first-child{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.lib-footer {
    font-size: 12px;
    font-weight: lighter;
    flex-wrap: wrap;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    margin: 12px;
}

.right {
    width: 75vw;
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.right-buttons {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0px 30px;
}

.right-buttons .arrows {
    gap: 10px;
}

.right-buttons .arrows div {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.right-buttons .capsule {
    gap: 25px;
}

.right-buttons .capsule button {
    border: none;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    height: 30px;
}

.right-buttons .capsule .su {
    background-color: inherit ;
    color: white;
    height: 45px;
}

.right-buttons .capsule .li {
    background-color: white;
    border-radius: 25px;
    width: 100px;
    height: 45px;
}

.card-container {
    margin-top: 15px;
    gap: 5px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow: scroll;
}

.card {
    width: 140px;
    position: relative;
    padding: 5px;
}

.card > * {
    padding-top: 3px;
}

.card :first-child {
    width: 100%;
    object-fit: contain;
}

.card .play-button {
    width: 50px;
    position: absolute;
    right: 3px;
    top: 80px;
}

.playbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #1ed760;
    padding: 10px;
    color: black;
}

.music-buttons {
    justify-content: center;
    gap: 20px;
}

.seekbar .seek {
    height: 5px;
    background-color: black;
    width: 90%;
    position: relative;
}

.seekbar {
    padding-top: 20px;
    justify-content: center;
}

.seek-pointer {
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    transition: left 0.5s;
    left: 0%;
}

.musicList {
    margin: 20px 0;
    height: 77%;
    overflow: scroll;
}

.song {
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 5px 0px;
}

.song-name {
    max-width: 70%;
    max-height: 25px;
    overflow: hidden;
    padding-top: 4px;
}
