<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views</title>
    <style>
        .container {
            background-color: skyblue;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <%= siteName %>
    </div>
</body>
</html>