* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav {
    padding: 12px;
    background-color: black;
    color: white;
}

nav ul{
    display: flex;
    gap: 22px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: red;
}
