/* can overlap elements using grid  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid black;
    margin: 2px;
    padding: 5px;

    display: grid;
    grid-template-columns: [firrstCol]1fr [secondCol]1fr;
    grid-template-rows: [one]100px 100px 100px;

}

.items {
    border: 3px solid red;
    /* width: 50px; */
    /* height: 50px; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.item3 {
    grid-column: 2;
    grid-row: one/3; 
    /* can refer using names */
}

.item4 {
    grid-column: 2;
}

.item5 {
    grid-column: 1/3;
}

/* understandable lol */