* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    padding: 10px;
    display: grid;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; */

    /* wow this is cool, number of dont have to define no of rows and columns */
}

.items {
    border: 2px solid green;
    margin: 5px;
}

.item3 {
    grid-row: 2/3;
    grid-column: 1/4;
}

.item4 {
    grid-row: 3;
}

.item5 {
    grid-column: 1;
}

