*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-color: yellow;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 50px;
    font-style: italic;
}

.orgo{
    display: flex;
    gap: 5px;
    align-items: center;
}

.name{
    font-size: 25px;
    font-weight: bolder;
}

.navList {
    display: flex;
    gap: 30px;
}

.navList li {
    list-style: none;
}

.productdetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.productdetail span{
    font-size: 40px;
}

.productdetail span span{
    font-weight: bolder;
}

.productdetail p{
    text-align: center;
    width: 40vw;
    margin-top: 20px;
    font-size: 18px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: rgb(216, 233, 249);
    margin: 35px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 220px;
    height: 100px;
}

.download{
    background-color: rgb(96, 123, 218);
    padding: 10px;
    color: white;
    width: 90%;
    text-align: center;
}