*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

*::selection{
    color: red;
}

header{
    padding: 20px;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav ul li {
    padding: 10px;
    display: inline;
    list-style-type: none;
}

body{
    background-color: rgb(232, 67, 232);
    color: white;
}

.logo{
    color: white;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: rgb(190, 34, 190);
    display: flex;
    padding: 60px;
    justify-content: space-around;
}

section{
    /* margin: 0px 200px; */
    width: 300px;
    height: 300px;
    background-color: yellow;
}

section:first-child{
    background-color: green;
}

.content{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    width: 80vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid aquamarine;
    font-size: 50px;
}

.float{
    position: fixed;
    bottom: 20px;
    right: 15px;
}

footer{
    background-color: grey;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

nav{
    position: absolute;
    right: 10vw;
}

.hlogo{
    position: relative;
    left: 5vw;
    border-radius: 70px;
    height:60px;
    width: 60px;
    font-size: 20px;
}